.body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;

}

.primero{
    background-color: aqua;
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
      
}
.segundo{
     background-color: aquamarine;
     justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    
}
.tercero{
    background-color: black;
   justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    

}
.cuarto{
background-color: green;
justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    
}
.quinto{
    background-color: darkviolet;
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    
}
.sexto{
    background-color: darkcyan;
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    

}
.septimo{
    background-color: dimgray;
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    
}
.octavo{
     background-color: rgb(36, 46, 151);
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;  

}
    

.noveno{
    background-color: darkorchid;
    justify-self: center;  
    align-self: center; 
    width: 80%;             
    height: 80%;
    
}