.body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;

}

.primero{
    background-color: aqua;
}
.segundo{
     background-color: aquamarine;
}
.tercero{
    background-color: black;

}
.cuarto{
background-color: green;
}
.quinto{
    background-color: darkviolet;
}
.sexto{
    background-color: darkcyan;

}
.septimo{
    background-color: dimgray;
}
.octavo{
    background-color: darkkhaki
    ;
}
.noveno{
    background-color: darkorchid;
}