.contenedor{
display:flex;
flex-direction: column;
width: 100%;
}
@media (min-with:480px) {
    
}
.contenedor{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
@media (min-with:px1024) {
}

.contenedor{

    display:flex ;
    flex-direction: row;
}